.logo-container,
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
}

.logo-container {
    position: relative;
    top: 0;
    left: 0;
    height: 35px;
    width: 150px;
    justify-self: center;
}

.logo {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

header {
    align-self: stretch;
    justify-content: space-between;
    padding: 17px 37px 16px;
    box-sizing: border-box;
}

.nav-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 49px;
    font-size: var(--font-size-lg);
    color: var(--color-white);
}

.home-btn, 
.tournaments-btn, 
.leaderboard-btn {
    flex: 1;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: inherit;
    font-weight: 600;
    color: var(--color-gray);
    text-decoration: var(--color-gray);
    background: transparent !important;
    border: 0;
    cursor: pointer;
}

.home-btn a,
.tournaments-btn a,
.leaderboard-btn a {
    color: inherit !important;
    text-decoration: none;
}

.home-btn:hover,
.tournaments-btn:hover,
.leaderboard-btn:hover {
    text-decoration: underline;
}



body {
    width: 100vw;
    height: 100vh;
    position: relative;
    bottom: 0;
    overflow: hidden;
    align-items: flex-start;
    box-sizing: border-box;
    background-image: url("../images/background-tr.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    letter-spacing: normal;
}

.frame-main {
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 30vh;
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: stretch;
    align-items: center;
}

.title,
.subtitle {
    font-family: var(--font-outfit);
    color: var(--color-white);
    margin: 0;
    font-weight: 700;
    font-family: var(--font-outfit);
    display: inline-block;
    flex-shrink: 0;
    max-width: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.title {
    width: 639px;
    height: 357px;
    position: relative;
    font-size: 50px;
    line-height: 20%;
}

.subtitle {
    position: relative;
    font-size: 20px;
    line-height: 10%;
    width: 639px;
    top: -80%;
    text-transform: uppercase;
}

.main-buttons {
    width: 250px;
    position: relative;
    left:-40px;
    top: -170px;
    display: flex;
    margin: auto;
    flex-shrink: 0;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    font-family: var(--font-outfit);
}

.view-tournaments,
.subscribe {
    cursor: pointer;
    border: 2px solid var(--color-white);
    padding: 0 41.31814193725586px;
    background-color: transparent;
    height: 49px;
    width: 220px;
    border-radius: 25px;
    background: linear-gradient(97.16deg, #271253, #761e5b 54.4%);
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    text-align: start;
    white-space: nowrap;
}

.view-tournaments:hover,
.subscribe:hover {
    border: 2px solid var(--color-gray);
    box-sizing: border-box;
}

.view-tournaments-text,
.subscribe-text {
    height: 25px;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    font-family: var(--font-outfit);
    color: var(--color-white);
}

.view-tournaments-text {
    left: -10px;
}

.subscribe-text {
    left: -15px;
}



.popup-container {
    position: absolute;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 120%;
    right: -150%;
    opacity: 1;
    padding: 20px 30px;
    background: #6c6a6a;
    box-shadow: 2px 2px 5px 5px var(--color-black);
    border-radius: 20px;
    z-index: 999;
    transition: right 0ms ease-in-out 200ms,
                opacity 100ms ease-in-out 0ms;
}

.popup-container.active {
    right: 10%;
    opacity: 1;
    transition: right 0ms ease-in-out 0ms,
                opacity 100ms ease-in-out 0ms;
}

.popup-close-btn {
    position: absolute;
    top: -10px;
    right: -10px;
    width:fit-content;
    height: 30px;
    border-radius: 20px;
    background: var(--color-white);
    color: var(--color-black);
    cursor: pointer;
    
}

.popup-close-text {
    position: relative;
    font-size: 25px;
    font-family: var(--font-outfit);
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    padding: 7px 7px;
    top: -2px;
}

.popup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popup-title {
    position: relative;
    text-align: center;
    font-family: var(--font-outfit);
    justify-content: center;
    font-weight: 600;
    margin: 10px 0px 20px;
    font-size: 45px;
    background: linear-gradient(to bottom, #761e5b, #271253);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.popup-text {
    position: relative;
    justify-content: center;
    text-align: center;
    width: 350px;
    left: 15%;
    font-size: 17px;
    font-family: var(--font-outfit);
    margin: 10px 0px 20px;
}

.form-element {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-element input[type="email"] {
    position: relative;
    left: 8%;
    top: -10px;
    margin: 10px 0px 20px;
    width: 400px;
    outline: 2px solid var(--color-white);
    padding: 10px;
    border: 2px solid #aaa;
    border-radius: 20px;
    background: transparent;
    color: inherit;
    text-align: center;
}

.form-element input[type="email"]::placeholder {
    text-decoration: none;
    color: var(--color-white);
    font-size: 17px;
}

.popup-subscribe {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-subscribe-btn {
    cursor: pointer;
    border: 2px solid var(--color-white);
    padding: 0 41.31814193725586px;
    background-color: transparent;
    height: 49px;
    width: 220px;
    border-radius: 25px;
    background: linear-gradient(97.16deg, #271253, #761e5b 54.4%);
    box-sizing: border-box;
    flex-direction: row;
    align-self: flex-start;
    text-align: start;
    white-space: nowrap;
}

.popup-subscribe-btn:hover {
    border: 2px solid var(--color-gray);
    box-sizing: border-box;
}

.popup-subscribe-text {
    height: 25px;
    position: relative;
    left: -20px;
    font-size: 20px;
    font-weight: 600;
    font-family: var(--font-outfit);
    color: var(--color-white);
}




.footer-wrapper {
    width: 100vw;
    background: linear-gradient(180deg, rgba(10, 10, 10, 0), #0a0a0a);
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: -10px;
    right: 10px;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--color-white);
    font-family: var(--font-outfit);
}

.left {
    display: flex;
    flex-direction: row;
    left: 0;
    width: 336px;
    height: 49px;
    align-items: center;
    justify-content: space-evenly;
}

.privacy-text,
.terms-text {
    position: relative;
    top: -10px;
    letter-spacing: -0.04em;
    line-height: 139.5%;
    flex-shrink: 2;
}

.privacy-a,
.terms-a {
    color: inherit;
    text-decoration: none;
}

.right {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 150px;
    height: 49px;
    align-items: flex-start;
    justify-content: space-evenly;
}

.facebook,
.instagram,
.x {
    height: 35px;
    width: 35px;
    position: relative;
}