.logo-container,
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    z-index: 999;
}

.logo-container {
    position: relative;
    top: 0;
    left: 0;
    height: 35px;
    width: 150px;
    justify-self: center;
}

.logo {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

header {
    align-self: stretch;
    justify-content: space-between;
    padding: 17px 37px 16px;
    box-sizing: border-box;
}

.nav-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 49px;
    font-size: var(--font-size-lg);
    color: var(--color-white);
}

.home-btn,
.tournaments-btn,
.leaderboard-btn {
    flex: 1;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: inherit;
    font-weight: 600;
    color: var(--color-gray);
    text-decoration: var(--color-gray);
    background: transparent !important;
    border: 0;
    cursor: pointer;
}

.home-btn a,
.tournaments-btn a,
.leaderboard-btn a {
    color: inherit !important;
    text-decoration: none;
}

.home-btn:hover,
.tournaments-btn:hover,
.leaderboard-btn:hover {
    text-decoration: underline;
}




body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150vh;
    background: var(--color-black);
    box-sizing: border-box;
    overflow-x: hidden;
}



.top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: -5%;

    position: relative;
    width: 1500px;
    height: 70vh;
}

.top-title {
    position: relative;
    width: fit-content;
    font-family: var(--font-outfit);
    font-weight: 600;
    font-size: 60px;
}

.last-three-top {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 36px;
}

.first-box {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 413px;
    height: 355px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 32px;
    z-index: 1;
}

.first-background {
    position: relative;
    width: 360px;
    height: 175px;
    justify-self: flex-start;
    align-self: center;
    top: -90px;
    background: url("../images/bs-background.png");
    background-size: cover;
    border-radius: 26px;
    z-index: 2;
    flex: none;
}

.first-title {
    z-index: 3;
    position: relative;
    top: 90px;
    align-self: center;
    font-family: var(--font-outfit);
    font-weight: 600;
    font-size: 30px;
    box-sizing: border-box;
}

.first-game-logo {
    position: relative;
    z-index: 3;
    width: 76px;
    height: 76px;
    flex: none;
    align-self: center;
    top: -250px;
    
    border: 3px solid var(--color-white);
    border-radius: 20px;
    background: url("../images/bs-logo.png");
    background-size: cover;
}

.first-subtext {
    font-family: var(--font-outfit);
    font-size: var(--font-size-lg);
    text-align: center;
    position: relative;
    justify-self: center;
    font-weight: 0;
    top: -155px;
}

.first-view-detail {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-details-btn {
    cursor: pointer;
    height: 49px;
    width: 220px;
    border-radius: 25px;
    border: 2px solid var(--color-white);
    background: linear-gradient(97.16deg, #271253, #761e5b 54.4%);

    box-sizing: border-box;
    justify-self: center;
    text-align: center;
    white-space: nowrap;
    flex: none;

    position: relative;
    top: -270%;
    left: 22%;
}

.first-details-btn:hover {
    border: 2px solid var(--color-gray);
    box-sizing: border-box;
}

.first-details-btn-text:hover {
    left: -20px;
}

.first-details-btn-text {
    height: 25px;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    font-family: var(--font-outfit);
    color: var(--color-white);
}

.bottom-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    bottom: 5%;

    position: relative;
    width: 1300px;
    height: 50vh;
    padding: 0px 0px 0px 20px;
}

.bot-left-title {
    position: relative;
    bottom: -80%;
    font-family: var(--font-outfit);
    font-weight: 600;
    font-size: 60px;
    box-sizing: border-box;
}

bot-left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bl-box-shadow {
    position: relative;
    bottom: -50%;
    left: 15%;
    width: 370px;
    height: 295px;

    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 32px;
}

.bl-box {
    width: 413px;
    height: 355px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 32px;
    z-index: 1;
}

.bl-box-bg {
    position: relative;
    width: 360px;
    height: 190px;
    left: 7%;
    top: 7%;
    background: url("../images/bs-background.png");
    background-size: cover;
    border-radius: 26px;
    z-index: 2;
    flex: none;
}

.bl-box-game-logo {
    position: relative;
    z-index: 3;
    width: 76px;
    height: 76px;
    right: 27%;
    bottom: 20%;

    border: 3px solid var(--color-white);
    border-radius: 20px;
    background: url("../images/bs-logo.png");
    background-size: cover;
}

.bl-title {
    z-index: 3;
    position: relative;
    left: 35%;

    align-self: center;
    font-family: var(--font-outfit);
    font-weight: 600;
    font-size: 30px;
    box-sizing: border-box;
}

.bl-subtitle {
    z-index: 3;
    position: relative;
    bottom: 25%;
    left: 35%;

    align-self: center;
    font-family: var(--font-outfit);
    font-weight: 600;
    font-size: 18px;
    box-sizing: border-box;
}

.bl-box-button {
    position: relative;
    width: 40px;
    height: 40px;
    z-index: 3;
    align-self: center;
    top: -65%;
    left: 100%;

    font-family: var(--font-outfit);
    color: var(--color-black);
    text-align: center;
    font-weight: 600;
    font-size: 20px;

    background: url("../images/next.png");
    background-size: cover;
    border-radius: 20px;
    box-sizing: border-box;
    cursor: pointer;
}

.bl-box-button:hover {
    width: 45px;
    height: 45px;
    border-radius: 25px;
    top: -67%;
}

.bot-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    align-self: flex-end;
    top: -70%;
    left: -5%;
    width: 500px;

    /* SFONDO CARD PER PARTNER !!!!!
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    border-radius: 32px;*/
}

.bot-right-title {
    font-family: var(--font-outfit);
    font-size: 40px;
    text-align: center;
    font-weight: 600;
}

.bl-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    padding-bottom: 30px;
}

.bl-logo-container * {
    width: 80px;
    height: 80px;
}

.footer-wrapper {
    width: 100vw;
    background: linear-gradient(180deg, rgba(10, 10, 10, 0), var(--color-black));
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    right: 10px;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--color-white);
    font-family: var(--font-outfit);
}

.left {
    display: flex;
    flex-direction: row;
    left: 0;
    width: 336px;
    height: 49px;
    align-items: center;
    justify-content: space-evenly;
}

.privacy-text,
.terms-text {
    position: relative;
    top: -10px;
    letter-spacing: -0.04em;
    line-height: 139.5%;
    flex-shrink: 2;
}

.privacy-a,
.terms-a {
    color: inherit;
    text-decoration: none;
}

.right {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 0;
    right: 0;
    width: 150px;
    height: 49px;
    align-items: flex-start;
    justify-content: space-evenly;
}

.facebook,
.instagram,
.x {
    height: 35px;
    width: 35px;
    position: relative;
}